.app__header {
    background: var(--color-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .app__header-img img {
    object-fit: cover;
    width: 650px;
} */

/* .app__header-content,
.app__header-img {
    margin-top: 5rem;
} */

/* .app__header-img img {
    margin: 0 12rem 0 0;

} */

/* .app__header-content {
    margin: 5rem 0 0 3rem;
} */

.app__header-content h1 {
    color: var(--color-golden);
    line-height: 68px;
    letter-spacing: 5px;
    font-size: 55px;
}

.app__header-content h1 {
    margin: 3rem 0 3rem 1rem;
}

.app__header-content_p {
    color: var(--color-white);
    margin-bottom: 3rem;
    line-height: 25px;
    border: 0;
}

.app__header-content button {
    padding: 1rem 2.5rem;
    font-family: var(--font-base);
    font-size: 20px;
}
@media screen and (min-width: 2000px) {
    .app__wrapper_img img {
        width: 400px;
    }
}

@media screen and (max-width: 650px) {
    .app__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app__header-img img {
        width: 250px;
        object-fit: cover;
        width: 100%;
    }
}